@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
    position: relative;
width: 1600px;
height: 3957px;

background: #FFFFFF;
}

/* header{
    position: absolute;
width: 1292.19px;
height: 1013px;
left: 155.81px;
top: 181px;
} */

.navbar h3 {
    position: absolute;
width: 80px;
height: 28px;
left: 152px;
top: 38px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.2px;

color: #213053;
}

.btn_contact {
    position: absolute;
width: 59px;
height: 26px;
left: 1215px;
top: 40px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.btn_support {
    position: absolute;
width: 57px;
height: 26px;
left: 1109px;
top: 40px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.btn_shortcut {
    position: absolute;
height: 26px;
left: 969px;
top: 40px;

/* Bold/15px */

font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.btn_about {
    position: absolute;
width: 44px;
height: 26px;
left: 876px;
top: 40px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.navbar p {
    position: absolute;
    width: 108px;
    height: 26px;
    left: 28px;
    top: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}


.rectangle {
    position: absolute;
width: 131px;
height: 40px;
left: 1317px;
top: 32px;
cursor: pointer;

/* Color 2 */
background:#1787FC;
border-radius: 65px;
}


.body h2 {
    
position: absolute;
width: 526px;
height: 66px;
left: 539px;
top: 181px;

/* Bold/60px */

font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 66px;
/* identical to box height, or 110% */

text-align: center;
letter-spacing: -1px;

/* Text Color */

color: #1D263A;
}

.body p{
    position: absolute;
width: 739px;
height: 96px;
left: 432px;
top: 267px;

/* Regular/21px */
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 32px;
/* or 152% */

text-align: center;

/* Text Color */

color: #1D263A;

opacity: 0.7;
}


.bgimage {
    position: absolute;
width: 1292.19px;
height: 591.01px;
left: 155.81px;
top: 421.99px;

/* Color 9 */

background: #FAE2DA;
border-radius: 30px;
}

.png {
    position: absolute;
width: 1467.92px;
height: 979.19px;
left: 7.25px;
top: 149.88px;
}

.rectangle1{
    position: absolute;
width: 744px;
height: 144px;
left: 156px;
top: 869px;

/* Color 3 */

background: #FF794D;
border-radius: 0px 30px;
}

.rectangle1 p {
    position: absolute;
    width: 654px;
    height: 64px;
    left: 36px;
    top: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.7;
}

.vec {
    position: absolute;
    left: 10.90%;
    right: 6.45%;
    top: 26.49%;
    bottom: 18.54%;

/* Color 7 */

/* border: 3px solid #20BFA9; */
}

.vec2{
    position: absolute;
    left: 57.9%;
    right: 6.45%;
    top: 26.49%;
    bottom: 18.54%;
}

.elements p{
    position: absolute;
    width: 440px;
    height: 44px;
    left: 60px;
    top: -13px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #1D263A;
    opacity: 0.7;
}

.ellipse {
    
    position: absolute;
    width: 64px;
    height: 61px;
    left: 158px;
    top: 1032px;
    background: #D6EBE4;
    opacity: 0.4;
    border-radius: 100px;
}

.ellipse1 {
    position: absolute;
    width: 58px;
    height: 59px;
    left: 912px;
    top: 1038px;
    background: #FAE2DA;
    opacity: 0.4;
    border-radius: 100px;
}

.box{
    position: absolute;
width: 1298px;
height: 214px;
left: 151px;
top: 1304px;

/* Color 2 */

background: #1787FC;
/* Shadow 01 */

box-shadow: 0px 54px 100px rgba(10, 4, 60, 0.08);
border-radius: 15px;
}

.line {
    position: absolute;
    width: 110px;
    height: 541.13px;
    left: 709.64px;
    top: -146px;
    background: #ffff;
    opacity: 0.09;
    transform: rotate(45deg);
}

.line1 {
    position: absolute;
    width: 110px;
    height: 150.5px;
    left: -47.29px;
    top: -110px;
    background: #FFFFFF;
    opacity: 0.09;
    transform: rotate(45deg);
}

.box h2 {
    position: absolute;
    width: 108px;
    height: 66px;
    left: 67px;
    top: 69px;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    text-align: right;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.box span {
    position: absolute;
    width: 104px;
    height: 64px;
    left: 205px;
    top: 68px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #FFFFFF;
}

.box h3 {
    position: absolute;
    width: 108px;
    height: 66px;
    left: 341px;
    top: 69px;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    text-align: right;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.box a{
    position: absolute;
    width: 70px;
    height: 66px;
    left: 480px;
    top: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
}

.box h4 {
    position: absolute;
    width: 108px;
    height: 66px;
    left: 629px;
    top: 69px;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    text-align: right;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.box p{
    position: absolute;
    width: 70px;
    height: 66px;
    left: 771px;
    top: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
}

.box h5 {
    position: absolute;
    width: 108px;
    height: 66px;
    left: 948px;
    top: 69px;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    text-align: right;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.box h6 {
    position: absolute;
    width: 70px;
    height: 66px;
    left: 1090px;
    top: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
}

.team{
    position: absolute;
width: 1600px;
height: 1120px;
left: 2px;
top: 1638px;

/* Color 16 */

background: #F9FAFB;
}

.team h1 {
    position: absolute;
    width: 481px;
    height: 116px;
    left: 535px;
    top: 146px;
    font-family: Mazzard;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(29, 38, 58);
}

.social {
    position: absolute;
    width: 274px;
    height: 109px;
    left: 830px;
    top: 533px;
    background: #FFFFFF;
    border-radius: 15px;
}

.context h2 {
    position: absolute;
    width: 134px;
    height: 30px;
    left: 907px;
    top: 547px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D263A;
}

.context h3 {
    position: absolute;
    height: 22px;
    left: 918px;
    top: 574px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D263A;
    opacity: 0.6;
}

.vice h3 {
    position: absolute;
    width: 91px;
    height: 20px;
    left: 1174px;
    top: 560px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.vice h2{
    position: absolute;
    width: 110px;
    height: 26px;
    left: 1174px;
    top: 582px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}

.newsletter {
    position: absolute;
width: 1600px;
height: 676px;
left: 0px;
top: 2758px;

/* Color 4 */

background: #FFFFFF;
}

.closing {
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 700px;
    opacity: 0.13;
    border: 1px solid #1D263A;
}

.button {
    position: absolute;
    width: 200px;
    height: 70px;
    left: 902px;
    top: 500px;
    background: #1787FC;
    border-radius: 0px 10px 10px 0px;
}

.newsletter h3 {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 948px;
    top: 524px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    /* color: red; */
    color: #FFFFFF;
}

.newsletter h2 {
    position: absolute;
    width: 463px;
    height: 101px;
    left: 550px;
    top: 172px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1px;
    color: #1D263A;
    opacity: 0.9;
}

.newsletter p {
    position: absolute;
    width: 530px;
    height: 90px;
    left: 524px;
    top: 322px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #1D263A;
    opacity: 0.7;
}

.bracket {
    box-sizing: border-box;
    position: absolute;
    width: 506px;
    height: 70px;
    left: 397px;
    top: 500px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 10px 0px 0px 10px;
}

.newsletter h4 {
    position: absolute;
    width: 165px;
    height: 30px;
    left: 420px;
    top: 519px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #1D263A;
    opacity: 0.6;
}

.newsletter i {
    position: absolute;
width: 15px;
height: 15px;
left: 660px;
top: 600px;
}

.newsletter span {
    position: absolute;
    width: 248px;
    height: 28px;
    left: 574px;
    top: 578px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D263A;
    opacity: 0.7;
}

.footer {
    position: absolute;
    width: 1600px;
    height: 492px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
}

.footer h2 {
    position: absolute;
    width: 80px;
    height: 28px;
    left: 153px;
    bottom: 371px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #213053;
}

.footer p {
    position: absolute;
width: 351px;
height: 97px;
left: 152px;
bottom: 251px;

/* Regular/17px */
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* or 176% */


/* Text Color */

color: #1D263A;

opacity: 0.8;
}

.footer a {
    position: absolute;
width: 104px;
height: 26px;
left: 812px;
bottom: 392px;

/* Bold/15px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */


/* Text Color */

color: #1D263A;

opacity: 0.6;
}

.footer h3 {
    position: absolute;
width: 98px;
height: 26px;
left: 1032px;
bottom: 392px;

/* Bold/15px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */


/* Text Color */

color: #1D263A;

opacity: 0.6;
}

.footer span {
    position: absolute;
width: 123px;
height: 26px;
left: 1252px;
bottom: 392px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */


/* Text Color */

color: #1D263A;

opacity: 0.6;
}