@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
    position: relative;
width: 1600px;
height: 3000px;

background: #FFFFFF;
}

.navbar h3 {
    position: absolute;
width: 80px;
height: 28px;
left: 152px;
top: 38px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.2px;

color: #213053;
}

.btn_contact {
    position: absolute;
width: 59px;
height: 26px;
left: 1215px;
top: 40px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.btn_support {
    position: absolute;
width: 57px;
height: 26px;
left: 1109px;
top: 40px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.btn_shortcut {
    position: absolute;
height: 26px;
left: 969px;
top: 40px;

/* Bold/15px */

font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.btn_about {
    position: absolute;
width: 44px;
height: 26px;
left: 876px;
top: 40px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

display: flex;
align-items: center;
text-align: center;

/* Text Color */

color: #1D263A;
}

.navbar p {
    position: absolute;
    width: 108px;
    height: 26px;
    left: 28px;
    top: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}


.box1 {
    position: absolute;
width: 131px;
height: 40px;
left: 1317px;
top: 32px;
cursor: pointer;

/* Color 2 */
background:#1787FC;
border-radius: 65px;
}

.body {
    position: absolute;
width: 1600px;
height: 377px;
left: 0px;
top: 104px;

/* Color 16 */

background: #F9FAFB;
}

.body h2 {
    position: absolute;
    width: 671px;
    height: 71px;
    left: 466px;
    top: 104px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1px;
    color: #1D263A;
}

.body p {
    position: absolute;
    width: 600px;
    height: 64px;
    left: 495px;
    top: 219px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #1D263A;
    opacity: 0.7;
}


/* hero part starts from here  */

.hero {
    position: absolute;
width: 1600px;
height: 767px;
left: 0px;
top: 481px;

/* Color 4 */

background: #FFFFFF;
}

.hero h2 {
    position: absolute;
    width: 550px;
    height: 132px;
    left: 152px;
    top: 210px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: -1px;
    color: #0A043C;

}

.hero p {
    position: absolute;
    width: 496px;
    height: 90px;
    left: 152px;
    top: 383px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #1D263A;
    opacity: 0.7;
}

.png {
    position: absolute;
    width: 306px;
    height: 336px;
    left: 812px;
    top: 225px;
    background: #0A043C;
    border-radius: 10px;
}

.png1 {
    position: absolute;
    width: 306px;
    height: 335px;
    left: 1142px;
    top: 118px;
    background: #0A043C;
    border-radius: 10px;
}

.png2 {
    position: absolute;
    width: 306px;
    height: 189px;
    left: 1142px;
    top: 487px;
    background: #0A043C;
    border-radius: 10px;
}

.rectangle {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 152px;
    top: 527px;
    background: #FF794D;
    border-radius: 10px;
}

.hero h3 {
    position: absolute;
    width: 112px;
    height: 30px;
    left: 182px;
    top: 541px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.line {
    position: absolute;
    width: 1296px;
    height: 0px;
    left: 152px;
    top: 785px;
    opacity: 0.17;
    border: 2px dashed #1D263A;
}

/* hero part ends here  */

.circle1 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 164px;
    top: 1402px;
    background: rgba(240, 64, 55, 0.2);
    border-radius: 100px;
}

.circle2 {
    position: absolute;
width: 80px;
height: 80px;
left: 592px;
top: 1402px;
border-radius: 100px;
background: rgba(65, 62, 101, 0.2);
}

.circle3 {
    position: absolute;
width: 80px;
height: 80px;
left: 1032px;
top: 1402px;
border-radius: 100px;
background: rgba(155, 81, 224, 0.2);
}

.circle4 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 164px;
    top: 1601px;
    background: rgba(0, 188, 212, 0.2);
    border-radius: 100px;
}

.circle5 {
    position: absolute;
width: 80px;
height: 80px;
left: 592px;
top: 1601px;
border-radius: 100px;
background: rgba(246, 83, 162, 0.2);
}

.circle6 {
    position: absolute;
width: 80px;
height: 80px;
left: 1032px;
top: 1601px;
border-radius: 100px;
background: rgba(129, 178, 20, 0.2);
}

.sym1 {
    position: absolute;
    /* width: 24px; */
    /* height: 32px; */
    left: 192px;
    top: 1430px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;
    color: #F04037;
}

.sym2 {
    position: absolute;
    left: 622px;
    top: 1429px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;
    color: #413E65;
}

.sym3 {
    position: absolute;
    left: 1063px;
    top: 1430px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;
    color: #9B51E0;
}

.sym4 {
    position: absolute;
    /* width: 18px; */
    /* height: 32px; */
    left: 192px;
    top: 1628px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;
    color: #00BCD4;
}

.sym5 {
    position: absolute;
/* width: 24px;
height: 32px; */
left: 619px;
top: 1628px;

/* font-family: 'Font Awesome 5 Free'; */
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.3px;

color: #F653A2;
}

.sym6 {
    position: absolute;
    /* width: 14px; */
    /* height: 32px; */
    left: 1065px;
    top: 1628px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;
    color: #81B214;
}




/* vacancies part starts from here  */

.profile {
    position: absolute;
width: 1600px;
height: 959px;
left: 0px;
top: 1744px;

/* Color 16 */

background: #F9FAFB;
}

.profile h1 {
    position: absolute;
width: 489px;
height: 58px;
left: 152px;
top: 140px;

/* Bold/48px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height, or 120% */

letter-spacing: -1px;

/* Text Color */

color: #1D263A;
}

.profile p {
    position: absolute;
    width: 575px;
    height: 30px;
    left: 152px;
    top: 230px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #1D263A;
    opacity: 0.7;
}

.rectangle1 {
    box-sizing: border-box;
    position: absolute;
    width: 416px;
    height: 249px;
    left: 152px;
    top: 353px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 15px;
}

.rectangle2 {
    box-sizing: border-box;
    position: absolute;
    width: 416px;
    height: 249px;
    left: 599px;
    top: 353px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 15px;
}

.rectangle3 {
    box-sizing: border-box;
    position: absolute;
    width: 416px;
    height: 249px;
    left: 1047px;
    top: 353px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 15px;
}

.rectangle4 {
    box-sizing: border-box;
    position: absolute;
    width: 416px;
    height: 249px;
    left: 152px;
    top: 632px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 15px;
}

.rectangle5 {
    box-sizing: border-box;
    position: absolute;
    width: 416px;
    height: 249px;
    left: 603px;
    top: 632px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 15px;
}

.rectangle6 {
    box-sizing: border-box;
    position: absolute;
    width: 416px;
    height: 249px;
    left: 1047px;
    top: 632px;
    background: #FFFFFF;
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-radius: 15px;
}

.bx1 h1 {
    
position: absolute;
width: 106px;
height: 28px;
left: 216px;
top: 374px;

/* Regular/15px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */

display: flex;
align-items: center;

/* Text Color */

color: #1D263A;

opacity: 0.7;
}

.bx1 h2 {
    position: absolute;
width: 285px;
height: 32px;
left: 190px;
top: 430px;

/* Bold/24px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: -0.3px;

/* Text Color */

color: #1D263A;

}

.bx1 h3 {
    position: absolute;
width: 140px;
height: 30px;
left: 215px;
top: 474px;

/* Regular/17px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

display: flex;
align-items: center;

/* Color 15 */

color: rgba(255, 121, 77, 1);
}

.bx1 h4 {
    position: absolute;
width: 140px;
height: 30px;
left: 190px;
top: 474px;

/* Regular/17px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

display: flex;
align-items: center;

/* Color 15 */

color: #7F828A;
}

.bx1 h5 {
    position: absolute;
width: 85px;
height: 28px;
left: 215px;
top: 548px;

/* Regular/15px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */

display: flex;
align-items: center;

/* Text Color */

color: #1D263A;

}

.bx1 img {
    position: absolute;
    /* width: 14px;
    height: 17px; */
    left: 190px;
    top: 553px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7F828A;
}

.shape span {
    position: absolute;
    width: 82px;
    height: 26px;
    left: 22px;
    top: 11.6px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.shape {
    position: absolute;
    width: 122px;
    height: 50px;
    left: 419px;
    top: 534px;
    background: #20BFA9;
    border-radius: 10px;
}


.shape1 {
    position: absolute;
    width: 122px;
    height: 50px;
    left: 865px;
    top: 534px;
    background: #20BFA9;
    border-radius: 10px;
}

.shape1 span {
    position: absolute;
    width: 82px;
    height: 26px;
    left: 24px;
    top: 11.6px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.shape2 {
    position: absolute;
    width: 122px;
    height: 50px;
    left: 1313px;
    top: 534px;
    background: #20BFA9;
    border-radius: 10px;
}

.shape2 span {
    position: absolute;
    width: 82px;
    height: 26px;
    left: 24px;
    top: 11.6px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.shape3 {
    position: absolute;
    width: 122px;
    height: 50px;
    left: 419px;
    top: 811px;
    background: #20BFA9;
    border-radius: 10px;
}

.shape3 span {
    position: absolute;
    width: 82px;
    height: 26px;
    left: 24px;
    top: 11.6px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.shape4 {
    position: absolute;
    width: 122px;
    height: 50px;
    left: 865px;
    top: 811px;
    background: #20BFA9;
    border-radius: 10px;
}

.shape4 span {
    position: absolute;
    width: 82px;
    height: 26px;
    left: 24px;
    top: 11.6px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.shape5 {
    position: absolute;
    width: 122px;
    height: 50px;
    left: 1313px;
    top: 811px;
    background: #20BFA9;
    border-radius: 10px;
}

.shape5 span {
    position: absolute;
    width: 82px;
    height: 26px;
    left: 24px;
    top: 11.6px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.bx2 h1 {
    
    position: absolute;
    width: 75px;
    height: 28px;
    left: 669px;
    top: 374px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
    opacity: 0.7;
}

.bx2 h2 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 663px;
    top: 474px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 121, 77, 1);
}

.bx2 h3 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 637px;
    top: 474px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #7F828A;
}

.bx2 h4 {
    position: absolute;
    width: 285px;
    height: 32px;
    left: 637px;
    top: 430px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #1D263A;
}

.bx2 h5 {
    position: absolute;
    width: 98px;
    height: 28px;
    left: 663px;
    top: 548px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
}

.bx2 img {
    position: absolute;
    left: 639px;
    top: 553px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7F828A;
}

.bx3 h1 {
    position: absolute;
    width: 75px;
    height: 28px;
    left: 1122px;
    top: 374px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
    opacity: 0.7;
}

.bx3 h2 {
    position: absolute;
    width: 285px;
    height: 32px;
    left: 1091px;
    top: 430px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #1D263A;
}

.bx3 h3 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 1091px;
    top: 474px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #7F828A;
}

.bx3 h4 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 1118px;
    top: 474px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 121, 77, 1);
}

.bx3 h5 {
    position: absolute;
    width: 98px;
    height: 28px;
    left: 1118px;
    top: 548px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
}

.bx3 img {
    position: absolute;
    left: 1091px;
    top: 553px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7F828A;
}

.bx4 h1 {
    position: absolute;
    width: 106px;
    height: 28px;
    left: 216px;
    top: 660px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
    opacity: 0.7;
}

.bx4 h2 {
    position: absolute;
    width: 285px;
    height: 32px;
    left: 190px;
    top: 710px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #1D263A;
}

.bx4 h3 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 190px;
    top: 752px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #7F828A;
}

.bx4 h4 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 215px;
    top: 752px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 121, 77, 1);
}

.bx4 h5 {
    position: absolute;
    width: 91px;
    height: 26px;
    left: 210px;
    top: 822px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D263A;
}

.bx4 img {
    position: absolute;
    left: 190px;
    top: 826px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7F828A;
}

.bx5 h1 {
    position: absolute;
    width: 106px;
    height: 28px;
    left: 669px;
    top: 660px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
    opacity: 0.7;
}

.bx5 h2 {
    position: absolute;
    width: 272px;
    height: 32px;
    left: 637px;
    top: 710px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #1D263A;
}

.bx5 h3 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 637px;
    top: 752px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #7F828A;
}

.bx5 h4 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 663px;
    top: 752px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 121, 77, 1);
}

.bx5 h5 {
    position: absolute;
    width: 91px;
    height: 26px;
    left: 663px;
    top: 822px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D263A;
}

.bx5 img {
    position: absolute;
    left: 640px;
    top: 826px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7F828A;
}

.bx6 h1 {
    position: absolute;
    width: 106px;
    height: 28px;
    left: 1122px;
    top: 660px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D263A;
    opacity: 0.7;
}

.bx6 h2 {
    position: absolute;
    width: 285px;
    height: 32px;
    left: 1091px;
    top: 710px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #1D263A;
}

.bx6 h3 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 1091px;
    top: 752px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #7F828A;
}

.bx6 h4 {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 1118px;
    top: 752px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 121, 77, 1);
}

.bx6 h5 {
    position: absolute;
    width: 91px;
    height: 26px;
    left: 1118px;
    top: 822px;
    /* font-family: 'Mazzard'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D263A;
}

.bx6 img {
    position: absolute;
    left: 1091px;
    top: 826px;
    /* font-family: 'Font Awesome 5 Free'; */
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7F828A;
}

.footer {
    position: absolute;
    width: 1600px;
    height: 523px;
    left: 0px;
    top: 2703px;
    bottom: 0px;
    background: #FFFFFF;
}

.footer h2 {
    position: absolute;
    width: 80px;
    height: 28px;
    left: 153px;
    bottom: 371px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #213053;
}

.footer p {
    position: absolute;
width: 351px;
height: 97px;
left: 152px;
bottom: 251px;

/* Regular/17px */
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* or 176% */


/* Text Color */

color: #1D263A;

opacity: 0.8;
}

.footer a {
    position: absolute;
width: 104px;
height: 26px;
left: 812px;
bottom: 392px;

/* Bold/15px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */


/* Text Color */

color: #1D263A;

opacity: 0.6;
}

.footer h3 {
    position: absolute;
width: 98px;
height: 26px;
left: 1032px;
bottom: 392px;

/* Bold/15px */

/* font-family: 'Mazzard'; */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */


/* Text Color */

color: #1D263A;

opacity: 0.6;
}

.footer span {
    position: absolute;
width: 123px;
height: 26px;
left: 1252px;
bottom: 392px;

/* Bold/15px */
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */


/* Text Color */

color: #1D263A;

opacity: 0.6;
}